<br/><h1>Show Details</h1>
  <div><strong>Title: </strong><%= @article.title %></div>
  <div><strong>Description: </strong><%= @article.description %></div>

<div class="d-flex gap-2 pt-2">
  <%= button_to "Home", articles_path, method: :get %>
  <%= button_to "Edit", edit_article_path, method: :get %>
  <%= button_to "Destroy", article_path, method: :delete %>
</div>
