<div class="container py-5 h-100">
  <div class="d-flex justify-content-center align-items-start">
    <div class="col-lg-6 mb-4">
      <div class="card mb-3" style="border-radius: .5rem;">
        <div class="row g-0">
          <div class="col-md-4 text-center text-white bg-primary d-flex flex-column align-items-center justify-content-center"
            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
            <img src="https://bootdey.com/img/Content/avatar/avatar<%= @user.id %>.png"
                alt="Avatar"
                class="img-fluid rounded-circle my-5"
                style="width: 100px;" />
            <h5 class="mb-3"><%= @user.username %></h5>
            <div class="d-flex gap-4">
              <%= link_to edit_user_path(@user), class: 'mb-4', style: 'color: black; text-decoration: none;' do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to users_path, class: 'mb-4', style: 'color: black; text-decoration: none;' do %>
                <i class="fas fa-home me-2"></i>
              <% end %>
            </div>

          </div>
          <div class="col-md-8">
            <div class="card-body p-4">
              <h6>Information</h6>
              <hr class="mt-0 mb-4">
              <div class="pt-1 mb-3">
                <h6>Email</h6>
                <p class="text-muted mb-0"><%= @user.email %></p>
              </div>

              <h6>Projects</h6>
              <hr class="mt-0 mb-4">
              <div class="d-flex justify-content-between pt-1 mb-3">
                <div>
                  <h6>Total Articles</h6>
                  <p class="text-muted mb-0"><%= pluralize(@articles.count, "article") %></p>
                </div>
                <div>
                  <%# <h6>Most Viewed</h6>
                  <p class="text-muted mb-0">Dolor sit amet</p> %>
                  <%= button_to "Create Article", new_article_path, method: :get, class: "btn btn-outline-primary" %>
                </div>
              </div>

              <div class="d-flex justify-content-start">
                <a href="#" class="me-3"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#" class="me-3"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-6 mb-4">
        <div class="card text-center shadow mb-5 rounded mint-color">
          <h5 class="card-header text-decoration-none text-success"><%= article.title %></h5>
          <div class="card-body">
            <div class="card-text text-start"><%= simple_format(article.description) %></div>
            <div class="d-flex gap-2 justify-content-center">
              <%= button_to "View", article_path(article), method: :get, class: "btn btn-outline-success" %>
              <%= button_to "Edit", edit_article_path(article), method: :get, class: "btn btn-outline-primary" %>
              <%= button_to "Delete", article_path(article), method: :delete, class: "btn btn-outline-danger" %>
            </div>
          </div>
          <div class="card-footer text-body-secondary">
            <small>Created about <%= time_ago_in_words(article.created_at) %> ago, Edited about <%= time_ago_in_words(article.updated_at) %> ago</small>
          </div>
        </div>
      </div>
    <% end %>
    <div class="apple_pagination">
      <%= will_paginate @articles, :container => false %>
    </div>
  </div>
</div>
